/* Custom CSS Page */
html {
  /* background: thistle; */
  /* color: red; */
}
body {
  color: #EDF5E1;
  display: flex;
  max-width: 1300px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
main {
  background-color: snow;
}
div {
  color: #05386B;
  background-color: #8EE4AF;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1400px;
  background-color: #8EE4AF;
}
.columns {
  color: #05386B;
  width: 100%;
  text-align: center;
  background-color: #8EE4AF;
  font-weight: 1000;
  font-size: 20px;
}
.columns div {
  background-color: #8EE4AF;
  display: flex;
  align-items: center;
  padding: 20px;
}
img {
  height: 80px;
}
.field {
  background-color: #05386B;
  color: #EDF5E1;
  padding: 20px;
  width: 30%;
  margin-top: 40px;
}
.field label {
  color: #EDF5E1;
}
.field h1 {
  color: #EDF5E1;
}
.justforthenextcommit {
  color: red;
  background-color: orange;
  color: orange;
  display: flex;
  flex-direction: column;
}
